body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    position: relative;
    display: inline-block;
}

.dropdown {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-size: 18px;
    text-decoration: none;
}

.show {
    display: block;
}